{% extends 'flightapp/base.html' %}

{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    }
    
    th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    }
    
    th {
      background-color: rgb(97, 97, 148);
  }
</style>

<table>
  <thead>
    <tr>
      <th>airline user id</th>
      <th>airline Name</th>
      <th>airline Country</th>
    </tr>
  </thead>
  <tbody>
    {% for airline in airlines %}
    <tr>
      <td>{{airline.user.username}}</td>
      <td>{{airline.name}}</td>
      <td>{{airline.country.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}